body {
  padding: 0px;
  text-align: center;
  align-items: center;
  width: 100%;
}

h1,
text {
  color: #aa96ba;
}

div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 500px;
  padding: 20px;  
  box-shadow: 0 4px 4px 4px rgb(155, 99, 162);
}

/* #colorInputs {
  display: flex;
  flex-direction: row;
} */

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 400px;
  margin: 20px;
  background-color: rgb(149, 119, 201);
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}